aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
click==8.4.1
colorama==0.4.6
fastapi==0.136.3
h11==0.16.0
idna==3.16
pillow==12.2.0
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.29
qrcode==8.2
sqlparse==0.5.5
starlette==1.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.48.0
